p{
    background-color: lightslategray;
    color: black;
    width:10%;
    padding-bottom:60px;
    text-align: center;
    padding-top:20px;
}

header{
    background-color:gray;
    margin:100px;
}

#buttons{
    padding:10px;
    width: 40%;
}
